---
import Layout from "../layouts/Layout.astro"
import Block from "../components/Block.svelte"
import RecipeContainer from "../components/RecipeContainer.svelte"
---

<Layout title="Generate a Recipe - RecipeAI">
  <main class="flex flex-col gap-4 pt-10 pb-32 px-5 mx-auto max-w-3xl">
    <h1 class="flex justify-center items-center gap-3">
      Welcome to <span class="text-gradient">RecipeAI</span>
      <img class="py-3.5 pl-1 pr-2 w-24 bg-primary/50 rounded-full" src="/favicon.svg" alt="RecipeAI logo">
    </h1>
    <Block>
      <details class="pl-4">
        <summary class="flex justify-between items-center focus:outline-none focus-visible:ring-2 ring-primary/50">
          <h2 class="inline-block text-2xl">
            <strong>How it does works?</strong>
          </h2>
        </summary>
        
        <div class="mt-2">
          <p>
            To get started, write down <code>(separated by commas)</code> the <strong
              >ingredients</strong
            > you want to include into the <strong>recipe</strong>.
          </p>
          <p>
            For example, <code
              >1 cup of flour, 1 cup of sugar, 1 cup of milk</code
            > will possibly generate a recipe for a cake.
          </p>
        </div>

        <section class="mt-8 flex flex-col gap-2">
          <h2 class="text-2xl"><strong>Result</strong></h2>
          <article>
            <h3><strong>Ingredients:</strong></h3>
            <ul>
              <li>1 cup of flour</li>
              <li>1 cup of sugar</li>
              <li>1 cup of milk</li>
              <li>1/4 cup of oil</li>
              <li>3 eggs</li>
              <li>1 tablespoon of vanilla</li>
              <li>1 tablespoon of salt</li>
              <li>1 tablespoon of baking powder</li>
            </ul>
          </article>
          <article>
            <h3><strong>Instructions:</strong></h3>
            <ol>
              <li>Preheat oven to 350 degrees F (175 degrees C).</li>
              <li>Grease and flour two 9 inch round pans.</li>
              <li>
                In a large bowl, combine flour, sugar, baking powder and salt.
              </li>
              <li>In a separate bowl, combine milk, oil, eggs and vanilla.</li>
              <li>Stir into dry ingredients just until moistened.</li>
              <li>Pour batter into prepared pans.</li>
              <li>
                Bake for 30 to 35 minutes, or until a toothpick inserted into
                the center of the cake comes out clean.
              </li>
              <li>
                Cool in pans for 10 minutes, then remove to wire racks to cool
                completely.
              </li>
              <li>
                When completely cooled, frost with your favorite frosting.
              </li>
              <li>Enjoy them!</li>
            </ol>
          </article>
        </section>
      </details>
    </Block>
    <RecipeContainer client:visible />
  </main>
  <footer class="py-8 w-full bg-primary text-white text-xl text-center">
    <a class="text-white hover:underline" href="https://github.com/jesubohr">Jesús Borrero</a> &copy; 2023. All rights reserved.
  </footer>
</Layout>

<style>
  details[open] > *:not(summary) {
    animation: sweep 0.3s ease-in-out;
  }
  summary {
    cursor: pointer;
  }
  summary::after {
    content: "▶";
    color: rgb(var(--accent));
  }
  details[open] > summary::after {
    content: "▼";
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      margin-top: -10px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }
</style>
