---
export interface Props {
  title: string
}

const { title } = Astro.props
import "../styles/global.css"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="Get the perfect recipe for you, every time." />

    <!-- Open Graph -->
    <meta property="og:site_name" content="RecipeAI">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://recipe-ai.vercel.app/">
    <meta property="og:title" content="RecipeAI - The perfect recipe generator">
    <meta property="og:description" content="Get the perfect recipe for you, every time.">
    <meta property="og:image" content="/assets/og_img_small.png">
    <meta property="og:image:alt" content="Chef Robot with Pancake">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://recipe-ai.vercel.app/" />
    <meta property="twitter:title" content="RecipeAI - The perfect recipe generator" />
    <meta property="twitter:description" content="Get the perfect recipe for you, every time." />
    <meta property="twitter:image" content="/assets/og_img_small.png" />
  </head>
  <body class="w-full min-h-screen">
    <slot />
  </body>
</html>
